<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.busschedulingap.busschedulingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusSchedulingApp">
        <activity
            android:name="com.busschedulingap.busschedulingapp.admin.Reservation_Busname"
            android:exported="true" />
        <activity
            android:name="com.busschedulingap.busschedulingapp.user.Payment"
            android:exported="true" />
        <activity
            android:name="com.busschedulingap.busschedulingapp.admin.ManageReservation_Individual"
            android:exported="true" />
        <activity
            android:name="com.busschedulingap.busschedulingapp.user.User_Bus_Information"
            android:exported="true"
            android:parentActivityName="com.busschedulingap.busschedulingapp.user.User_AvailableBus" />
        <activity
            android:name="com.busschedulingap.busschedulingapp.user.User_Reserve_Seat"
            android:exported="true" />
        <activity
            android:name="com.busschedulingap.busschedulingapp.user.User_Reservation_Confirmation"
            android:exported="true" />
        <activity
            android:name="com.busschedulingap.busschedulingapp.user.User_Profile"
            android:exported="true" />
        <activity
            android:name="com.busschedulingap.busschedulingapp.user.User_Reservation"
            android:exported="true" />
        <activity
            android:name="com.busschedulingap.busschedulingapp.user.User_AvailableBus"
            android:exported="true" />
        <activity
            android:name="com.busschedulingap.busschedulingapp.user.User_Schedule"
            android:exported="true" />
        <activity
            android:name="com.busschedulingap.busschedulingapp.user.User_Dashboard"
            android:exported="true" />
        <activity
            android:name="com.busschedulingap.busschedulingapp.admin.PrintReport"
            android:exported="true" />
        <activity
            android:name="com.busschedulingap.busschedulingapp.admin.ManageReservation"
            android:exported="true" />
        <activity
            android:name="com.busschedulingap.busschedulingapp.admin.ManageBusInformation"
            android:exported="true" />
        <activity
            android:name="com.busschedulingap.busschedulingapp.admin.ManageBuses"
            android:exported="true" />
        <activity
            android:name="com.busschedulingap.busschedulingapp.admin.ManageSchedule"
            android:exported="true" />
        <activity
            android:name="com.busschedulingap.busschedulingapp.GoogleActivity"
            android:exported="true" />
        <activity
            android:name="com.busschedulingap.busschedulingapp.FacebookActivity"
            android:exported="true" />
        <activity
            android:name="com.busschedulingap.busschedulingapp.TwitterActivity"
            android:exported="true" />
        <activity
            android:name="com.busschedulingap.busschedulingapp.DashboardActivity"
            android:exported="true"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.BusSchedulingApp.NoActionBar" />
        <activity
            android:name="com.busschedulingap.busschedulingapp.SignUp"
            android:exported="true" />
        <activity
            android:name="com.busschedulingap.busschedulingapp.SignIn"
            android:exported="true" />
        <activity
            android:name="com.busschedulingap.busschedulingapp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- FACEBOOK -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>